/*
Colors
        'clay': '#BE5935',
        'wood': '#237529',
        'sheep': '#7FDF39',
        'wheat': '#e9cc2e',
        'ore': '#929292',
        'desert': '#f8fec2'
*/



html, body {
    margin: 0px;
    padding: 0px;
    background-color: #66B8E4;
    height: 100%;
    width: 100%;
}

#foreground {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    float: left;
}

.hex-container {
    float: left;
    position: relative;
    width: 26vmin;
    height: 0;
    padding-bottom: 26vmin;
    margin: 3vmin;
    text-align: center;
}

.hex {
    width: calc(100%);
    height: calc((100% + 20%) *0.57735026919);
    background: black;
    border: solid black 0;
    border-radius: 20%;
    position: absolute;
    left: 0;
    top: calc(100%/6);    
    margin: 0;
 }

 .hex.inner {
    width: 84%;
    height: calc((100% + 20%)*0.57735026919*0.84);
    border: solid black 0;
    border-radius: calc(20%*0.84);
    left: 8%;
    top: calc(100%/6 + (20%*0.84/3));    
    text-align: center;
 }


.hex-container span {
    font-family: sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-weight: bold;
    font-size: 5vmin;
    display: block;
 }

 #button1 .hex.inner {
     background: #7FDF39;
 }


#button2 .hex.inner {
     background: #929292;
 }

 #button3 .hex.inner {
     background: #e9cc2e;
 }

.hex.side2 {
    transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.hex.side3 {
    transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}